.app-background{
  background-image: url('https://i.postimg.cc/wBFgtqyv/4474975.jpg');
  background-size: cover;
  height: 100vh;
}
.app-card{
  background: rgba(255, 255, 255, 0.8);
  padding: 50px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 600px) {

  .app-background {
    background-image: url('https://i.postimg.cc/13QKXs1c/10374941-4462136.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    padding: 20px;
  }
  .app-card {
    width: 90%;
    max-width: 400px;
  }

}